@page
@using TorneoFutbol.App.Dominio
@model TorneoFutbol.App.Frontend.Pages.Entidades.EditModel
@{
}
<h1>Actualizar Entidad</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="entidad.Id"></label>
        <input asp-for="entidad.Id" class="form-control" readonly>
    </div> 
    <div class="form-group">
        <label asp-for="entidad.Razon_Social"></label>
        <input asp-for="entidad.Razon_Social" class="form-control" >
        
    </div>  
    <div class="form-group">
        <label asp-for="entidad.Nit"></label>
        <input asp-for="entidad.Nit" class="form-control" >
        
    </div> 
    <div class="form-group">
        <label asp-for="entidad.Direccion"></label>
        <input asp-for="entidad.Direccion" class="form-control" >
        
    </div> 
    <div class="form-group">
        <label asp-for="entidad.Teléfono"></label>
        <input asp-for="entidad.Teléfono" class="form-control" >
        
    </div> 
    <div class="form-group">
        <label asp-for="entidad.Ciudad"></label>
        <input asp-for="entidad.Ciudad" class="form-control" >
        
    </div> 
    <div class="form-group">
        <label asp-for="entidad.Sector"></label>
        <input asp-for="entidad.Sector" class="form-control" >
        
    </div> 
    <div class="form-group">
        <label asp-for="entidad.Tipo_Servicio"></label>
        <input asp-for="entidad.Tipo_Servicio" class="form-control" >
        
    </div>
    <div class="form-group">
        <label asp-for="entidad.Direccion_Electronica"></label>
        <input asp-for="entidad.Direccion_Electronica" class="form-control" >
        
    </div>
    <div class="form-group">
        <label asp-for="entidad.Pagina_Web"></label>
        <input asp-for="entidad.Pagina_Web" class="form-control" >
        
    </div>
    <button type="submit" class="btn btn-primary btn-block">Actualizar Entidad</button> 
</form>
<br><br><a class="btn btn-secondary" asp-page="./Index">Volver</a>